<header>
    <img src="/img/full_logo_white.png" alt="Small Mr. Coffee logo" width="132" />  
    <h1 class="mrc-h1">Schedule Website - 3B</h1>
    <div>
        <a href="/users" >List of Users</a>
        <a href="/schedules" >List of Schedules</a>
        <a href="/users/new" >New User</a>
        <a href="/schedules/new" >New Schedule</a>
    </div>
</header>